# TODO: add versions
fastapi
uvicorn[standard]
gunicorn
dnspython
motor
python-jose[cryptography]
passlib[bcrypt]
python-multipart
authlib
pymongo

# Parsing
httpx
bs4

# Testing
pytest
pytest-asyncio
pytest-cov
mongomock-motor

# Monitoring
opencensus-ext-azure
